<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://unpkg.com/react@18/umd/react.development.js", crossorigin: true %>
    <%= javascript_include_tag "https://unpkg.com/react-dom@18/umd/react-dom.development.js", crossorigin: true %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
